.container {
    max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
}

.origin-city {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.destination-city {
  display: flex;
  justify-content: center;
  margin: 1em;
}