.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
    max-width: 800px;
  margin: 30px auto;
  overflow: auto;
  min-height: 60px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  
}

.forms-non-stop {
  display: flex;
  justify-content: space-around;
}

.non-stop-tickets-data {
  display: flex;
  justify-content: space-around;
}

.ticket-content__wrapper {
  display: flex;
  justify-content: space-around;
}

.ticket__sidecontent {
  display: flex;
  flex-direction: column;
  min-height: 40px;
}

.ticket__maincontainer {
  display: flex;
  justify-content: space-around;

}


.ticket-submit-btn {
  box-sizing: border-box;
	padding: 0 25px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #fff;
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: rgb(255, 255, 255);
	background-color: rgb(255, 72, 0);
	cursor: pointer;
 
  
}



.example-form, .example-full-width {
  min-width: 150px;
  max-width: 500px;
  width: 60%;
  
}


.mat-raised-button {
  margin-top: 5px;
  height: 40px;

}