.container {
  width: max-content;
  height: max-content;
  margin: auto;
  display: flex;
  align-items: center;
}

.ticket-content__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  min-height: 40px;
  border-radius: 15px;
  width: 300px;
  min-height: 290px;
  background-color: rgb(103, 58, 183);
  box-shadow: 0px 0px 5px 4px rgba(73, 73, 73, 0.164);
}

.ticket-content__wrapper:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: ease-in-out all 0.2s;
}

.hot-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 280px;
  min-height: 15px;
  border-radius: 15px;
}
.hot-price-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #f44336;
  font-weight: bold;
  text-align: center;
}

.ticket-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-heart {
  transform: scale(1.6);
  color: white;
  margin-right: 15px;
}
.mat-heart:hover {
  color: #f44336;
  cursor: pointer;
  transition: ease-in-out 2ms;
}

.mat-heart-btn {
  background: transparent;
  border: none;
  outline: none;
}

.content-info-block {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
}

.bottom-flight-info {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  padding: 0 20px;
}

.card-info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-style: italic;
  color: antiquewhite;
}

.content-info {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  font-size: 30px;
  color: whitesmoke;
}
.ticket-title {
  background-color: #f44336;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: -13px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: whitesmoke;
  text-align: center;
  margin: 0;
}

.line-info {
  display: flex;
  flex-direction: column;
}

.line-info-top {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.line-info-bottom {
  display: flex;
  justify-content: space-between;
}

.line-img {
  display: flex;
  width: 120px;
  height: 2px;
  margin: -5px 0;
  border: none;
  background-color: #1d3557;
}

.line-airport-info {
  margin-top: 8px;
}

.card-logo {
  width: 50px;
  height: 50px;
}

.bottom-flight-info-city {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: whitesmoke;
}

.expires {
  font-size: medium;
  color: antiquewhite;
  text-align: center;
  padding: 0 20px;
}

.expires_style {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: whitesmoke;
  margin-left: 2%;
}

.dialog-info-style {
  margin-top: 13%;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.mat-close-icon {
  color: #f44336;
  font-weight: bold;
  font-size: 50px;
  padding-right: 25px;
}
.mat-close-icon:hover {
  cursor: pointer;
}

::ng-deep .custom-dialog {
  mat-dialog-container {
    height: 200px;
    width: 400px;
    overflow: hidden;
  }
}

.non-stop-tickets-data {
  margin-bottom: 50px;
  @media only screen and (max-width: 1092px) {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 1093px) {
  .ticket-content__wrapper {
    width: 650px;
    cursor: pointer;
  }
  .line-img {
    width: 44vw;
  }
  
}

@media screen and (max-width: 710px) {
  .ticket-content__wrapper {
    width: 90vw;
    cursor: pointer;
  }
  .line-img {
    width: 44vw;
  }
  
}


