<div class="container">
  <h2 class="non-stop-title">Non Stop Tickets</h2>
  <!-- <div class="forms-non-stop">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>From</mat-label>
        <input
          type="text"
          aria-label="Origin City"
          matInput
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of originOptions"
            [value]="option.label"
            (click)="onUpdateOrigin(option.key)"
          >
            {{ option.label }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>To</mat-label>
        <input
          type="text"
          aria-label="Destination"
          matInput
          [matAutocomplete]="auto2"
        />
        <mat-autocomplete #auto2="matAutocomplete">
          <mat-option
            *ngFor="let option of destinationOptions"
            [value]="option.label"
            (click)="onUpdateDestination(option.key)"
          >
            {{ option.label }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="onSubmitFlights()">
      Go
    </button>
  </div> -->


  <button mat-raised-button class="opendiv" color="primary" (click)="onToggle()">
    {{btnName}}
  </button>
  <div class="non-stop-tickets-data" *ngIf="div">
    <div
      *ngFor="let item of data.data | keyvalue"
      class="ticket-content__wrapper"
    >
      <div class="ticket__sidecontent">
        <h3>Price is: {{ item.value["0"].price }} UAH</h3>
        <button class="ticket-submit-btn">Buy</button>
      </div>

      <div class="ticket__maincontainer">
        <h3>from {{cityOrigin}} To {{cityArrival}}</h3>
        <h3>Airline: {{ item.value["0"].airline }}</h3>
        <h3>Flight Number: {{ item.value["0"].flight_number }}</h3>
        <div class="ticket__departure">
          <h3>Departure: {{ item.value["0"].departure_at }}</h3>
        </div>
        <div class="ticket__return">
          <h3>Return: {{ item.value["0"].return_at }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
