.container {
    max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
}

.forms-non-stop {
  display: flex;
  justify-content: space-around;

}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 60%;
  
}

.example-full-width {
  width: 60%;
}

.mat-raised-button {
  height: 40px;

}