<div class="flightItem">
  <div class="flightFrom">
    <h2>{{flightDate.departureTime}}</h2>
    <p>{{flightFrom}}</p>
    <p>{{flightDate.departureDate}}</p>
  </div>
  <div class="flightAnimation">
    <div class="animationTop">
      <mat-icon>flight_takeoff</mat-icon>
      <mat-icon>flight_land</mat-icon>
    </div>
    <div class="animationLine"></div>
    <div class="animationBottom">
      <span>{{flightFrom}}</span>
      <span>{{flightTo}}</span>
    </div>
  </div>
  <div class="flightTo">
    <h2>{{flightTo}}</h2>
  </div>
</div>

