.flightItem {
  display: flex;
  padding: 5px;
  .flightFrom, .flightTo {
    text-align: center;
    flex: 0 0 auto;
    margin: 0 30px;
    h2 {
      margin: 0 0 6px;
      font-size: 26px;
    }
    p {
      margin: 0 0;
      color: #757575;
    }
  }
  .flightTo {
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 30px;
      color: black;
      font-weight: 400;
    }
  }
  .flightAnimation {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .animationTop, .animationBottom {
      display: flex;
      justify-content: space-between;
    }
    .animationBottom {
      color: #1976d2;
    }
    .animationLine {
      height: 1px;
      background-color: #757575;
      margin: -3px 3px 10px;
    }
  }
}

@media(max-width: 700px) {
  .flightItem {
    .flightFrom, .flightTo { margin: 0 10px; }
    .flightFrom {
      h2 {
        font-size: 20px;
        margin-bottom: 0;
      }
    }
    .flightTo {
      h2 {font-size: 20px;}
    }
    .flightAnimation {
      .animationBottom { display: none; }
    }
  }
}
