.notFound {
  position: relative;
  color: black;
  text-align: center;

  img {
    position: absolute;
    display: block;
    height: auto;
    z-index: -3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15%);
  }
}
