<form [formGroup]="specialOffersFrom" class="form">
  <div class="form__select">
    <mat-form-field appearance="outline">
      <mat-label>LANGUAGE</mat-label>
      <mat-select
        [formControl]="languageControl"
        (selectionChange)="languageSelected()"
        name="language"
      >
        <mat-option
          *ngFor="let lang of languages | keyvalue"
          [value]="lang.key"
          >{{ lang.value }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form__select">
    <mat-form-field appearance="outline">
      <mat-label>СURRENCY</mat-label>
      <mat-select
        [formControl]="currencyControl"
        (selectionChange)="currencySelected()"
        name="currency"
      >
        <mat-option
          *ngFor="let currency of currencies | keyvalue"
          [value]="currency.key"
          >{{ currency.value }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
</form>
