.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 580px;
  margin: 30px auto;
  overflow: auto;
  min-height: 60px;
  border-radius: 5px;
  text-align: center;
}

.forms-non-stop {
  display: flex;
  justify-content: space-around;
}

.non-stop-tickets-data {
  padding: 10px;
}

.ticket-content__wrapper {
  display: flex;
  justify-content: space-around;
  border: 1px solid rgb(179, 179, 185);
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  background-image: url(https://addons-media.operacdn.com/media/CACHE/images/themes/05/144705/1.0-rev1/images/0993404e-79e0-4052-923d-89236e7c102f/ce42ef837a89c852c000eafd63cd0763.jpg);
  // background-color: rgb(243, 236, 245);
  background-size: cover;
}

.ticket__sidecontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 40px;
}

.ticketet__departure {
  margin-left: 20px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: 500;
  color: azure;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: azure;
}

.ticket-submit-btn {
  box-sizing: border-box;
  padding: 0 25px;
  margin: 0 15px 15px 0;
  outline: none;
  border: none;
  border-radius: 50px;
  height: 46px;
  line-height: 46px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(78, 4, 112);
  cursor: pointer;
}

.example-form,
.example-full-width {
  min-width: 150px;
  max-width: 500px;
  width: 60%;
}

.mat-raised-button {
  margin-top: 5px;
  height: 40px;
}

.btn-toggle {
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 10px;
}
