.title {
  text-align: center;
  margin: 10px 0;
}

.tickets {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px 50px;
}

.ticket-info {
  background-image: url("~/src/assets/card-background.jpg");
  background-size: cover;
  background-position: center;
  width: 610px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 4px rgba(73, 73, 73, 0.164);

  &-content-flight {
    box-sizing: content-box;
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 215px;
    align-items: center;

    &-details {
      max-width: 125px;
    }

    &-details > span {
      display: block;
    }
  }

  &-content-main {
    width: 295px;
    padding: 0 5px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.808);

    &-departure {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-city {
        font-size: 18px;
        font-weight: 500;
      }

      &-date {
        font-style: italic;
        font-size: 10px;
        color: #6c757d;
      }
    }

    &-return {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
    }

    &:hover {
      transition: ease-in-out all 0.2s;
      background-color: #fff;
      box-shadow: 0px 0px 15px -3px rgba(34, 60, 80, 0.21);
      border-radius: 10px;
    }

    &-destination {
      text-align: center;
    }

    &-image {
      display: flex;
      flex-direction: column;
      width: 50%;

      &-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      &-line {
        height: 1px;
        border-top: 3px solid black;
        margin: -5px 1px;
        width: 145px;
      }

      &-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 5px;
      }
    }
  }
}

.price {
  font-size: 18px;
  display: block;
  margin-top: 10px;
}

.offer {
  display: block;
  color: red;
  font-size: 10px;
}
