.info-card{
    color: white;
    margin: auto;

    &-title{
       text-align: center;
    }
}

.flights-card{
   padding: 0px;
   width: 48%;
   height: 250px; 
   margin: 20px 0;

   &-container{
       display: flex;
       width: 100%;
       height: 100%;
   }
   &-leftSide{
       width: 90%;
       border-right: 1px solid gray;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-around;
       color: white;
    //    background-color: #310546;
       background-image: url(https://content.skyscnr.com/m/1b5ed09bdb221f8c/original/Greenland-Airplane-Window-View.jpg);
       background-position: center;
       background-size: cover;

       &-info{
           display: flex;
           flex-direction: column;
           align-items: center;
           
           &-airline{
              display: flex;
              flex-direction: column;
              align-items: center;
            } 
           &-price{
              display: flex;
              flex-direction: column;
              align-items: center;
              border-radius: 5px;
              height: 50px;
              background-color: rgba($color: #c2bbbb, $alpha: 0.8);
              padding: 5px;
              font-size: 12px;
              color: black;
              :nth-child(1){
                  color: rgb(199, 20, 20);
                  font-size: 20px;
              }
            }
            
        }
       
   }

   &-rightSide{
       margin: 10px;

       &-img{
        position: relative;

        &-departure{
            position: absolute;
            font-size: 10px;
            left: 65px;
            bottom: 10px;
        }
        &-arrive{
            position: absolute;
            font-size: 10px;
            left: 192px;
            bottom: 10px;
        }
    }
   }
}
.plane-img{
    width: 50%;
    height: 10%;
    margin-left: 50px;
}
.card-modal{
    display: none;
  
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.notFound{
    color: black;
    text-align: center;
    margin-top: 50px;
}