.title{
  text-align: center;
  margin: 10px 0;
}

.ticket-info{
  background-image: url(https://media.istockphoto.com/photos/white-plane-on-the-blue-runway-top-view-and-white-background-minimal-picture-id1297855347?b=1&k=20&m=1297855347&s=170667a&w=0&h=RxFx8vsv0F9jnTmvZP35g-H6ssWqTNCJ6Zx_s2ocz2k=);
  background-size: cover;
  background-position: center;
  width: 60%;
  margin: auto;
  margin-bottom: 20px;

  &-content-flight{
    display: flex;
    justify-content: space-between;
    width: 25%;
    align-items: center;

    &-details > span{
      display: block;
    }
  }

  &-content-main{
    width: 30%;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.808);

    &:hover {
      transition: ease-in-out all 0.2s;
      background-color: #fff;
      box-shadow: 0px 0px 15px -3px rgba(34, 60, 80, 0.21);
      border-radius: 10px;
    }

    &-destination{
      text-align: center;
    }

    &-image{
      display: flex;
      flex-direction: column;

    &-top{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &-line{
      height: 1px;
      border-top: 3px solid black;
      margin: -5px 0px;
    }

    &-bottom{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-top: 5px;
    }
    }
  }
}

.price{
  font-size: 18px;
  display: block;
  margin-top: 10px;
}

.offer{
  display: block;
  color: red;
  font-size: 10px;
}

