.title {
  text-align: center;
  margin: 10px 0;
}

.tickets {
  display: flex;
  flex-wrap: wrap;
}

.ticket-info {
  background-image: url("^/assets/card-background.jpg");
  background-size: cover;
  background-position: center;
  width: 610px;
  height: 250px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 20px;

  &-content-flight {
    display: flex;
    justify-content: space-between;
    width: 35%;
    align-items: center;

    &-details > span {
      display: block;
    }
  }

  &-content-main {
    width: 47%;
    padding: 0 5px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.808);

    &-departure {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-city {
        font-size: 18px;
        font-weight: 500;
      }

      &-date {
        font-style: italic;
        font-size: 10px;
        color: #6c757d;
      }
    }

    &-return {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
    }

    &:hover {
      transition: ease-in-out all 0.2s;
      background-color: #fff;
      box-shadow: 0px 0px 15px -3px rgba(34, 60, 80, 0.21);
      border-radius: 10px;
    }

    &-destination {
      text-align: center;
    }

    &-image {
      display: flex;
      flex-direction: column;
      width: 60%;

      &-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      &-line {
        height: 1px;
        border-top: 3px solid black;
        margin: -5px 0px;
      }

      &-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 5px;
      }
    }
  }
}

.price {
  font-size: 18px;
  display: block;
  margin-top: 10px;
}

.offer {
  display: block;
  color: red;
  font-size: 10px;
}
