<h1 class="title">Flight price trends</h1>
<div class="tickets">
	<mat-card class="ticket-info" *ngFor="let item of data">
		<mat-card-title class="ticket-info-title">{{ cityFrom }} - {{ cityTo }}</mat-card-title>
		<mat-card-content class="ticket-info-content">
			<div class="ticket-info-content-flight">
				<img src="https://images.kiwi.com/airlines/64/{{ item.airline }}.png" alt="airlineImage">
				<div class="ticket-info-content-flight-details">
					<span> Airline: {{ item.airline }}</span>
					<span> Flight number: {{ item.flight_number }}</span>
					<span>Transfers: {{ item.transfers }}</span>
				</div>
			</div>

			<div class="ticket-info-content-main">
				<p class="date">Departure: {{ item.departure_at | date : "medium"}}</p>
				<div class="ticket-info-content-main-image">
					<div class="ticket-info-content-main-image-top">
						<mat-icon>flight_takeoff</mat-icon>
						<mat-icon>flight_land</mat-icon>
					</div>
					<div class="ticket-info-content-main-image-line"></div>
					<div class="ticket-info-content-main-image-bottom">
						<span>{{item.origin}}</span>
						<span>{{item.destination}}</span>
					</div>
				</div>
			</div>

			<div class="ticket-info-content-main">
				<p class="date">Return: {{ item.return_at | date : "medium"}}</p>
				<div class="ticket-info-content-main-image">
					<div class="ticket-info-content-main-image-top">
						<mat-icon>flight_takeoff</mat-icon>
						<mat-icon>flight_land</mat-icon>
					</div>
					<div class="ticket-info-content-main-image-line"></div>
					<div class="ticket-info-content-main-image-bottom">
						<span>{{item.destination}}</span>
						<span>{{item.origin}}</span>
					</div>
				</div>
			</div>

			<div class="ticket-info-content-price">
				<span class="price">Price: <b>{{ item.price }} {{ currency }}</b></span>
				<span class="offer">The offer valid untill {{ item.expires_at | date : "short" }}</span>
			</div>
		</mat-card-content>
	</mat-card>
</div>
<div *ngIf="data.length === 0">
	<app-no-records-found></app-no-records-found>
</div>