<div class="flightItem">
  <div class="flightFrom">
    <h2>{{departTime}}</h2>
    <p>{{flightInfo.cityFrom.cityName}}</p>
    <p>{{departDate}}</p>
  </div>
  <div class="flightAnimation">
    <div class="animationTop">
      <mat-icon>flight_takeoff</mat-icon>
      <mat-icon>flight_land</mat-icon>
    </div>
    <div class="animationLine"></div>
    <div class="animationBottom">
      <span>{{flightInfo.cityFrom.cityCode}}</span>
      <span>{{flightInfo.cityTo.cityCode}}</span>
    </div>
  </div>
  <div class="flightTo">
    <h2>{{flightInfo.cityTo.cityName}}</h2>
  </div>
</div>

