<div class="container">
  <app-toolbar></app-toolbar> <!--thi code does't work well-->
  <div class="wrap">
    <h1>Sign Up</h1>
    <p>
      <a>Have an account?</a>
    </p>
    <form [formGroup]="form">
      <div class="wrap-input">
        <input
          class="form-control"
          type="text"
          placeholder="Username"
          formControlName="username"
        />
        <input
          class="form-control"
          type="text"
          placeholder="Email"
          formControlName="email"
        />
        <input
          class="form-control"
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </div>
        
      <button class="btn" type="submit">
        Sign up
      </button>
    </form>
  </div>
</div>
