<div class="dropdown">
  <button mat-button [matMenuTriggerFor]="menu">
    <div *ngFor="let currency of currencies" style="display: inline">
      <div *ngIf="selectedOption === currency.code" style="display: flex; align-items: center">
        <img [src]="currency.flag" alt="" />
        {{ selectedOption | uppercase }}
        <mat-icon>arrow_drop_down</mat-icon>
      </div>
    </div>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let currency of currencies" (click)="getValue(currency.code)">
      <img [src]="currency.flag" alt="{{ currency.flag }}" />
      <span>{{ currency.code | uppercase }}</span>
    </button>
  </mat-menu>
</div>