.dropdown {
  display: flex;
  align-items: center;

  button {
    display: flex;
    align-items: center;
  }
}

::ng-deep .mat-menu-item {
  display: flex !important;
  align-items: center;
}

img {
  width: 32px;
  margin-right: 8px;
}
.btn {
  padding-right: 0;
}
