.dropdown {
  display: flex;
  align-items: center;
  margin-right: 20px;
  &__currency {
    width: 80px;
    margin-left: 15px;
  }
  &__select {
    font-size: 18px;
    color: rgb(255, 255, 255);
  }
  &__option {
    background: rgb(103, 58, 183);
    color: rgb(255, 255, 255);
    &:hover {
      background-color: rgb(63, 61, 86);
    }
  }
}

img {
  display: block;
  width: 50px;
}
