<div class="dropdown">
  <button class="btn" mat-button [matMenuTriggerFor]="menu">
    <div style="display: flex; align-items: center">
      <img src="https://flagcdn.com/w40/{{(selectedCurrency$ | async).slice(0, 2)}}.png" alt="">
      {{ (selectedCurrency$ | async) | uppercase }}
      <mat-icon>arrow_drop_down</mat-icon>
    </div>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let currency of currencies$ | async" (click)="setValue(currency.code)">
      <img src="https://flagcdn.com/w40/{{currency.code.slice(0, 2)}}.png" alt="" loading="lazy">
      <span>{{ currency.code | uppercase }}</span>
    </button>
  </mat-menu>
</div>