<div class="special-offers">
  <div
    class="no-data"
    *ngIf="(offers$ | async)?.length === 0 && !(offers$ | async)?.loading"
  >
    <app-no-records-found></app-no-records-found>
  </div>
  <div class="card-group">
    <div
      class="card"
      *ngFor="let item of offers$ | async | sort: destinationCity"
      [ngClass]="{
        highlighted: item.destination_name === destinationCity
      }"
    >
      <div
        [ngStyle]="{
          display: item.destination_name === destinationCity ? 'block' : 'none'
        }"
        class="ribbon ribbon-top-right"
      >
        <span>{{ item.destination_name }}</span>
      </div>
      <div class="card__inner">
        <h3
          class="card__title"
          [ngStyle]="{
            'padding-right':
              item.destination_name === destinationCity ? '100px' : '0px'
          }"
        >
          {{ item.title }}
        </h3>
        <div class="card__content">
          <div class="card__content-item">
            Price:
            <p class="card__price">{{ getCurrency(item.price) }}</p>
          </div>
          <div class="card__content-item">
            Airline:
            <p class="card__airline">{{ item.airline_title }}</p>
          </div>
          <div class="card__content-item">
            Flight number:
            <p class="card__flight-number">{{ item.flight_number }}</p>
          </div>
        </div>

        <div class="card__info" (click)="goToLink(item.link)">
          <span class="hover-txt">Click for details</span>
          <div class="card__info-item">
            <p class="card__city-from">
              {{ item.origin_name === "" ? item.origin : item.origin_name }}
            </p>
            <p class="card__date">{{ item.departure_at | date }}</p>
          </div>
          <div class="card__info-item">
            <div class="card__line-top">
              <mat-icon class="card__icon">flight_takeoff</mat-icon>
              <p class="card__duration">{{ getHours(item.duration) }}</p>
              <mat-icon class="card__icon">flight_land</mat-icon>
            </div>
            <div class="card__line-main"></div>
            <div class="card__line-bottom">
              <p class="card__airport-from">{{ item.origin_airport }}</p>
              <img
                class="card__logo"
                src="https://images.kiwi.com/airlines/64/{{ item.airline }}.png"
                alt="{{ item.airline_title }}"
                loading="lazy"
              />
              <p class="card__airport-to">{{ item.destination_airport }}</p>
            </div>
          </div>
          <div class="card__info-item">
            <p class="card__city-to">
              {{
                item.destination_name === ""
                  ? item.destination
                  : item.destination_name
              }}
            </p>
            <p class="card__date">
              {{ item.departure_at | date }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
