$maxWidth: 1920;

@mixin font-size($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 400;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 400px) / #{$maxWidth})
  );
}

@mixin height($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 400;
  height: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 400px) / #{$maxWidth})
  );
}
.no-data {
  display: block;
  max-width: 800px;
  margin: auto;
}
.card-group {
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 650px));
  align-items: center;
  justify-content: center;
  grid-gap: 50px;
  color: #1d3557;
  @media only screen and(max-width:1350px) {
    grid-template-columns: repeat(1, minmax(320px, 650px));
    grid-gap: 40px;
  }
}

p,
h3 {
  margin: 0;
}

.card {
  position: relative;
  background-image: url("~/src/assets/card-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 4px rgba(73, 73, 73, 0.164);
  transition: ease-in-out all 0.2s;
  font-size: 15px;

  &:hover {
    transform: scale(1.005);
    box-shadow: 0px 0px 5px 3px rgba(73, 73, 73, 0.3);
  }

  &__inner {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-between;
    padding: 20px;

    @media only screen and (max-width: 700px) {
      @include height(250, 220);
      padding: 15px;
    }
  }

  &__header {
    width: 100%;
  }

  &__title {
    text-align: left;
    @include font-size(25, 20);
  }
  &__content {
    min-width: max-content;
    line-height: 30px;
  }
  &__content-item {
    display: flex;

    p {
      text-align: center;
      padding-left: 5px;
      font-weight: 500;
    }
  }

  &__info {
    position: relative;
    max-width: 364px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: border-radius ease-in-out 0.2s, box-shadow ease-in-out 0.2s,
      background-color ease-in-out 0.2s, transform linear 0.08s;
    cursor: pointer;

    &:hover {
      border-radius: 10px;
      box-shadow: 0px 0px 3px 4px rgba(73, 73, 73, 0.164);
      background-color: #fff;
    }

    .hover-txt {
      position: absolute;
      width: max-content;
      top: -30px;
      opacity: 0;
      transform: scale(0);
      transition: opacity ease-in 0.2s, transform ease-in 0.3s;
    }
    &:hover .hover-txt {
      opacity: 1;
      transform: scale(1);
    }

    &:active {
      transform: scale(0.99);
    }
  }

  &__info-item {
    position: relative;
    display: flex;
    flex-direction: column;
    p {
      text-align: center;
    }
  }
  &__line-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__icon {
    transform: translate(0px, 5px);
    color: #1d3557;
  }
  &__duration {
    color: #0096c7;
    font-size: 12px;
    font-weight: 400;
  }
  &__info-item {
    flex-grow: 1;

    &:nth-child(3) {
      flex-grow: 3;
    }
  }
  &__line-main {
    display: block;
    height: 2px;
    background-color: #1d3557;
  }
  &__line-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 25px;
    height: 25px;
  }

  &__date {
    font-style: italic;
    font-size: 10px;
    color: #6c757d;
  }
}

.card__info:hover .card__info {
  opacity: 0;
}

.highlighted {
  box-shadow: 0px 0px 6px 5px rgba(104, 58, 183, 0.464);

  &:hover {
    box-shadow: 0px 0px 3px 4px rgba(104, 58, 183, 0.464);
  }
  h3 {
    text-decoration: underline;
    text-decoration-color: #1d3557;
  }
}
/* ribbon */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #f44336;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #f44336e1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}
