<app-special-offers-select
  [selectedLanguage]="language"
  [selectedCurrency]="currency"
  (selectedLanguageChange)="onSelectedLanguageChanged($event)"
  (selectedCurrencyChange)="onSelectedCurrencyChanged($event)"
></app-special-offers-select>
<div class="card-group">
  <div class="card" *ngFor="let item of (offers$ | async)">
    <div class="card__header">
      <div class="card__title">{{ item.title }}</div>
    </div>
    <div class="card__body">
      <div class="card__content">
        <div class="card__logo">
          <img
            src="https://images.kiwi.com/airlines/64/{{ item.airline }}.png"
            alt="{{ item.airline_title }}"
          />
          <p class="card__airline">
            {{ item.airline_title }} | {{ item.flight_number }}
          </p>
        </div>

        <div class="card__departure">
          <img
            src="https://img.icons8.com/material-rounded/24/ffffff/airplane-take-off.png"
          />
          <p>{{ item.departure_at | date }}</p>
        </div>
      </div>
      <div class="card__action">
        <div class="card__info">
          <p class="card__price">{{ getCurrency(item.price) }}</p>
          <div class="card__duration">
            <span>&#x23F0;</span>
            <p>{{ getHours(item.duration) }}</p>
          </div>
        </div>
        <a (click)="gotToLink(item.link)"></a>
      </div>
    </div>
    <div class="card__footer">
      <p class="card__airport">
        {{ item.origin_airport }} - {{ item.destination_airport }},&nbsp;
        {{ item.airline }}
      </p>
      <p class="card__name">
        {{ item.origin_name === "" ? item.origin : item.origin_name }} -
        {{
          item.destination_name === ""
            ? item.destination
            : item.destination_name
        }}
      </p>
    </div>
  </div>
</div>
