.user-location {
  display: flex;
  align-items: center;
}

.user-location-btn {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}

.user-location-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  height: 80px;
  background: white;
}

.user-location-text {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
  font-size: 15px;
  color: #752c5f;
}
