.calendar-card {
  box-shadow: 0px 0px 3px 0px #b5179e;
  background-color: #fff;
  color: #b5179e;
  width: 100px;
  cursor: pointer;
  transition: ease-in-out all 0.4s;

  @media screen and(max-width: 660px) {
    width: 75px;
  }

  &:hover {
    background-color: #b5179e;
    color: #fff;
    transition: ease-in-out all 0.4s;
  }

  &-content {
    display: flex;
    height: 75px;
    flex-direction: column;
    justify-content: space-around;

    @media screen and(max-width: 660px) {
      height: 50px;
      font-size: 12px;
    }

    &-found {
      text-align: center;
    }
    &-value {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      div {
        display: flex;
        align-items: center;
      }
    }
  }
}

p {
  margin: 0;
}

.mat-icon {
  height: 21px;
}

.icon {
  margin-right: 5px;
}

.bolded-text {
  font-weight: 500;
}

.add-button {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.6);

  &.active {
    display: block;
  }
}

.calendar-modal {
  display: block;
  position: absolute;
  width: 650px;
  font-size: 15px;
  color: #1d3557;
  background-image: url(https://media.istockphoto.com/photos/white-plane-on-the-blue-runway-top-view-and-white-background-minimal-picture-id1297855347?b=1&k=20&m=1297855347&s=170667a&w=0&h=RxFx8vsv0F9jnTmvZP35g-H6ssWqTNCJ6Zx_s2ocz2k=);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 10;

  @media screen and(max-width: 660px) {
    width: 450px;
    background-position: center;
  }

  @media screen and(max-width: 454px) {
    width: 300px;
    font-size: 12px;
  }

  &-content {
    position: relative;
    height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and(max-width: 660px) {
      height: 200px;
    }

    @media screen and(max-width: 454px) {
      height: 150px;
      padding: 10px;
    }

    &-title {
      width: 35%;
      text-align: center;
      font-size: 25px;

      @media screen and(max-width: 660px) {
        text-align: left;
      }

      @media screen and(max-width: 454px) {
        font-size: 15px;
      }
    }

    &-sub {
      line-height: 30px;

      @media screen and(max-width: 660px) {
        line-height: 20px;
      }

      @media screen and(max-width: 454px) {
        line-height: 15px;
        padding: 3px 0;
      }

      &-dates {
        display: none;

        @media screen and(max-width: 660px) {
          display: block;
        }
      }
    }

    &-close {
      position: absolute;
      top: 15px;
      right: 25px;
      color: #fbfbff;
      cursor: pointer;
      font-size: 35px;
      transition: ease-in-out all 0.4s;

      @media screen and(max-width: 454px) {
        top: 10px;
        right: 10px;
        font-size: 22px;
      }

      &:hover {
        color: #1e1b18;
        transition: ease-in-out all 0.3s;
      }
    }

    &-like {
      position: absolute;
      top: 55px;
      right: 25px;
      color: #fbfbff;
      cursor: pointer;
      font-size: 35px;
      transform: scale(1);
      transition: ease-in-out all 0.4s;

      @media screen and(max-width: 454px) {
        top: 35px;
        right: 10px;
        font-size: 22px;
      }

      &:hover {
        color: #fb3640;
        transform: scale(1.01);
        transition: ease-in-out all 0.4s;
      }

      &.liked {
        color: #fb3640;
      }
    }

    &-info {
      width: 58%;
      display: flex;
      flex-direction: row;
      padding: 5px;
      justify-content: space-between;
      transition: ease-in-out all 0.2s;

      @media screen and(max-width: 660px) {
        width: 57%;
      }

      @media screen and(max-width: 454px) {
        width: 53%;
        padding: 3px;
      }

      &:hover {
        transition: ease-in-out all 0.2s;
        background-color: #fff;
        box-shadow: 0px 0px 15px -3px rgba(34, 60, 80, 0.21);
        border-radius: 10px;
      }

      &-destination {
        text-align: center;

        @media screen and(max-width: 660px) {
          display: flex;
          align-items: center;
        }

        .date {
          font-size: 10px;
          font-style: italic;
          color: #6c757d;

          @media screen and(max-width: 660px) {
            display: none;
          }
        }
      }

      &-main {
        flex: 1 0 auto;
        padding: 0 15px;
        display: flex;
        flex-direction: column;

        @media screen and(max-width: 454px) {
          padding: 0px 3px;
        }

        &-top {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          span {
            color: #0096c7;
            font-size: 12px;
            margin-bottom: 5px;

            @media screen and(max-width: 454px) {
              font-size: 9px;
              margin-bottom: 3px;
            }
          }
        }

        &-line {
          height: 1px;
          border-top: 3px solid black;
          margin: -4px 0px;
        }

        &-bottom {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding-top: 5px;

          span:nth-child(2) {
            color: #0096c7;
            font-size: 12px;

            @media screen and(max-width: 454px) {
              font-size: 9px;
            }
          }

          span {
            font-size: 10px;
            padding: 0 3px;
          }
        }
      }
    }
  }
}
