<mat-card class="calendar-card" (click)="toggleActive()">
  <mat-card-content class="calendar-card-content">
    <div class="calendar-card-content-found">
      Found at:
      <p>{{ data.found_at | date: "mediumDate" }}</p>
    </div>
    <div class="calendar-card-content-value">
      <div>
        Actuality:
        <span *ngIf="data.actual">
          <mat-icon [ngStyle]="{ color: '#38b000' }">check</mat-icon>
        </span>
        <span *ngIf="!data.actual">
          <mat-icon [ngStyle]="{ color: '#d00000' }">close</mat-icon>
        </span>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="modal-wrapper" [ngClass]="isActive ? 'active' : ''">
  <div class="calendar-modal">
    <div class="calendar-modal-content">
      <mat-icon class="calendar-modal-content-close" (click)="toggleActive()"
        >close</mat-icon
      >
      <mat-icon
        class="calendar-modal-content-like"
        [ngClass]="liked ? 'liked' : ''"
        (click)="isLiked()"
        >{{ liked ? "favorite" : "favorite_border" }}</mat-icon
      >
      <p div class="calendar-modal-content-title">Ticket info</p>
      <div class="calendar-modal-content-sub">
        <p>
          Price:
          <span class="bolded-text"
            >{{ data.value }}{{ currency | uppercase }}</span
          >
        </p>
        <p>
          Gate: <span class="bolded-text">{{ data.gate || "KIWI.com" }}</span>
        </p>
        <p>
          Number o changes:
          <span class="bolded-text">{{ data.number_of_changes }}</span>
        </p>
        <p>
          Trip class:
          <span class="bolded-text">{{ getFlightClass(data.trip_class) }}</span>
        </p>
        <p class="calendar-modal-content-sub-dates">
          <span class="bolded-text">
            {{ data.depart_date | date: "mediumDate" }} -
            {{ data.return_date | date: "mediumDate" }}
          </span>
        </p>
      </div>
      <div class="calendar-modal-content-info">
        <div class="calendar-modal-content-info-destination">
          <p class="bolded-text">{{ origin }}</p>
          <p class="date">{{ data.depart_date | date: "mediumDate" }}</p>
        </div>
        <div class="calendar-modal-content-info-main">
          <div class="calendar-modal-content-info-main-top">
            <mat-icon>flight_takeoff</mat-icon>
            <span>{{ calculateDuration(data.duration) }}</span>
            <mat-icon>flight_land</mat-icon>
          </div>
          <div class="calendar-modal-content-info-main-line"></div>
          <div class="calendar-modal-content-info-main-bottom">
            <span class="bolded-text">{{ data.origin }}</span>
            <span>{{ data.distance }}km</span>
            <span class="bolded-text">{{ data.destination }}</span>
          </div>
        </div>
        <div class="calendar-modal-content-info-destination">
          <p class="bolded-text">{{ destination }}</p>
          <p class="date">{{ data.return_date | date: "mediumDate" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
