
.wrap {
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 650px));
  align-items: center;
  justify-content: center;
  grid-gap: 50px 50px;
  color: #1d3557;
  @media only screen and(max-width:1750px) {
    grid-template-columns: repeat(1, minmax(320px, 650px));
    grid-gap: 40px;
  }
}

.spinner {
  padding: 30px 0;
}
.spinner-template {
  margin: 20px auto;
  color: #673ab7;
}
