<div class="container" *ngIf="(flightInfo$ | async)?.length > 0; else noRecordsFound">
  <div class="wrap" infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
    [scrollWindow]="true">
    <div *ngFor="let info of flightInfo$ | async">
      <mat-card-content>
        <app-flight-ticket [flightInfo]="info"></app-flight-ticket>
      </mat-card-content>
    </div>
  </div>

  <div class="spinner" *ngIf="loading$ | async">
    <mat-spinner class="spinner-template"></mat-spinner>
  </div>
</div>

<ng-template #noRecordsFound>
  <app-no-records-found></app-no-records-found>
</ng-template>