.city-destination{
display: flex;
  flex-direction: row;
  &__content{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }
  &__placing{
    display: flex;
    flex-wrap: wrap;
   flex-direction: row;
  }
  &__origin{
   display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 20px;
    flex-direction: column;
  }
  &__card{
    align-content: space-between;
  }
}
mat-card{
  background: white;
  margin: 10px;
}
mat-card-subtitle{
  text-align: center;
}
