mat-toolbar {
  justify-content: center;

  .toolbar-wrapper {
    min-width: 1100px;
    display: flex;
    align-items: center;
  }

  .spacer {
    flex: 1;
  }

  .font-bold {
    font-weight: 900;
  }
}
