<form class="data-form" [formGroup]="flightDataFormGroup">
  <app-autocomplete formControlName="destinationFrom" label="From" [items]="cities"></app-autocomplete>
  <app-autocomplete formControlName="destinationTo" label="To" [items]="cities"></app-autocomplete>

  <mat-form-field appearance="outline">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input formControlName="startDate" matStartDate placeholder="Start date" />
      <input formControlName="endDate" matEndDate placeholder="End date" />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <app-transfers [(selectedItem)]="transfers"></app-transfers>

  <app-button color="beige" text="Search" (btnClick)="onSubmitForm()"></app-button>
  <app-button color="tomato" text="Clear" (btnClick)="onResetForm()"></app-button>
</form>
