.data-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  padding: 0 10px;
  

  .search-btn {
    padding: 8px 64px;
    margin-bottom: 1.34375em;
  }
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background: #fff;
}

.mat-flat-button.mat-warn.mat-button-disabled,
.mat-flat-button.mat-button-disabled.mat-button-disabled {
  background: rgba(244, 67, 54, 0.6);
}

.swap-inputs-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: none;
  outline: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 11px -19px 0px -19px;
  z-index: 1;
  cursor: pointer;
  box-shadow:  0px 5px 4px rgb(73 73 73 / 16%);
}

.swap-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 7, 7);
  font-size: 25px;
  font-weight: bold;
}
.swap-icon:hover {
  transform: scaleX(1.2);
}