<form class="data-form" [formGroup]="flightDataFormGroup">
  <app-autocomplete formControlName="destinationFrom" label="From" [items]="cities"></app-autocomplete>
  <button mat-icon-button class="swap-inputs-btn" (click)="onSwapInputs()">
    <mat-icon class="swap-icon">swap_horiz</mat-icon>
  </button>
  <app-autocomplete formControlName="destinationTo" label="To" [items]="cities"></app-autocomplete>

  <mat-form-field appearance="fill">
    <mat-label>From / To date range</mat-label>
    <mat-date-range-input [rangePicker]="picker" [min]="minDate">
      <input formControlName="startDate" matStartDate placeholder="Start date" />
      <input formControlName="endDate" matEndDate placeholder="End date" />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <app-transfers formControlName="transfers"></app-transfers>

  <div>
    <button class="search-btn" [disabled]="flightDataFormGroup.invalid" mat-flat-button type="button" color="warn"
      (click)="onSubmitForm()">SEARCH</button>
  </div>
</form>