.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}

.city-destination {
  margin: 20px;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &-label {
    color: mediumpurple;
  }
}

.option {
  color: mediumpurple;
}

.price {
  font-size: 11px;
  float: right;
  margin-right: 15px;
}

.destination {
  margin-right: 5px;
}

.cities_info {
  background-color: rgb(230, 230, 230);
}

h1 {
  font: 900 2em Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
  color: white;
  margin-left: -48px;

  img {
    height: 40px;
    vertical-align: middle;
  }
}

span {
  color: rgb(159, 106, 175);
}

form {
  flex: 1 0 21%;
  margin: 5px;
  height: 100px;
  border-radius: 15px;
  background-image: url(https://images.kiwi.com/photos/220x165/non-existing.jpg);
}
