.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.city-destination{
  margin: 10px;
  background-color: rgb(240, 240, 240);
  font-size: 14px;
&__content{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
