<div class="wrapper">
  <h1>Cheapest Tickets!</h1>
  <button
    (click)="requestTickets(ticketsParam)"
    mat-raised-button
    color="primary">
    Get Cheapest Tickets
  </button>
  <div class="ticketsWrapper" *ngIf="ticketsData || ticketsData?.['ticketsArray']">
    <app-ticket-item
      *ngFor="let ticket of ticketsData.ticketsArray"
      [ticketData]="ticket"
      [currency]="ticketsData.currency"
      [origin]="ticketsData.origin"
      [destination]="ticketsData.destination">
    </app-ticket-item>
  </div>
<!--  <div class="ticketsWrapper">-->
<!--    <app-ticket-item>-->
<!--      [ticketData]="ticket"-->
<!--      [currency]="ticketsData.currency"-->
<!--      [origin]="ticketsData.origin"-->
<!--      [destination]="ticketsData.destination">-->
<!--    </app-ticket-item>-->
<!--    <app-ticket-item>-->
<!--      [ticketData]="ticket"-->
<!--      [currency]="ticketsData.currency"-->
<!--      [origin]="ticketsData.origin"-->
<!--      [destination]="ticketsData.destination">-->
<!--    </app-ticket-item>-->
<!--    <app-ticket-item>-->
<!--      [ticketData]="ticket"-->
<!--      [currency]="ticketsData.currency"-->
<!--      [origin]="ticketsData.origin"-->
<!--      [destination]="ticketsData.destination">-->
<!--    </app-ticket-item>-->
<!--  </div>-->
</div>
