
<div class="cheapestTicketsWrapper">

  <div *ngIf="errors$ | async" class="error"><p>{{errors$ | async}}</p></div>
  <div *ngIf="(errors$ | async) === '' && cheapestTicketsArr">

    <mat-form-field appearance="fill">
      <mat-label>Sort by</mat-label>
      <mat-select (selectionChange)="sortTickets($event.value)">
        <mat-option *ngFor="let mode of sortModes" [value]="mode.sortBy">
          {{mode.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <app-cheapest-ticket-item
      *ngFor="let ticket of cheapestTicketsArr"
      [ticket]="ticket"
      [formData]="formData">
    </app-cheapest-ticket-item>
  </div>
</div>

