.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.city-destination-label-wrap{
  color: #673ab7;
  font-size: 1.1rem;
  max-width: 1050px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.option {
  color: #673ab7;
}

.price {
  font-size: 12px;
  float: right;
}

.origin {
  margin-right: 8px;
}

.destination {
  margin-left: 8px;
}
.city-destination {
  max-width: 1050px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &-label {
    color: #673ab7;
    font-size: 1.1rem;
  }
}


mat-form-field {
  background-image: url("https://images.kiwi.com/photos/220x165/photos.jpg");
}

::ng-deep .city-destination {
  .mat-form-field-wrapper {
    padding-bottom: 0;

    .mat-form-field-underline {
      display: none;
    }
  }
}
::ng-deep .city-destination-dropdown {
  .mat-form-field-wrapper {
    padding-bottom: 0;

    .mat-form-field-underline {
      display: none;
    }
  }
  .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0.5em 0 1em 0;
  }
}
 .ng-star-inserted{
   width: 100%;
 }

.mat-option .mat-icon {
  margin-right: 0;
}

img {
  margin-left: 16px;
  margin-right: 16px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

mat-label {
  display: flex;
  align-items: center;
}

