<div class="daily-info">
  <div>{{ getDate() | date: "EEE, MMM d" }}</div>
  <div class="daily-info-main">
    <div class="daily-info-main-temp">
      <img
        class="img"
        src="{{
          'https://openweathermap.org/img/wn/' +
            dayInfo.weather[0]?.icon +
            '@2x.png'
        }}"
        alt=""
      />

      {{ floorTemp(dayInfo.temp.min) }} / {{ floorTemp(dayInfo.temp.max) }}°C
    </div>
    <div class="daily-info-main-description">
      {{ dayInfo.weather[0]?.description }}
    </div>
  </div>
</div>
