<div class="ticketWrapper">
  <div class="priceInfo">
    <div class="airlineInfo" *ngIf="ticketData.airlineInfo">
      <p>{{ticketData.airlineInfo.name}}</p>
      <div class="airlineLogo">
        <img src="{{ticketData.airlineInfo.logo}}" alt="{{ticketData.airlineInfo.name}}">
      </div>
    </div>
    <div class="priceContainer">
      <h2>{{ticketData.priceInfo.currencySymbol}} {{ticketData.priceInfo.priceValue}}</h2>
    </div>
    <p> Offer is valid until<br>
      <span>{{expiresDate}}</span>
    </p>
  </div>

  <div class="flightInfo">
    <app-flight-item [flightInfo]="ticketData.departureInfo">
    </app-flight-item>
    <app-flight-item [flightInfo]="ticketData.returnInfo">
    </app-flight-item>
  </div>
</div>

