mat-toolbar {
  justify-content: center;

  .toolbar-wrapper {
    display: flex;
    max-width: 1110px;
    display: flex;
    align-items: center;
    flex: 1;

    a {
      text-decoration: none;
      color: #fff;
      display: flex;
      align-items: center;
    }
  }

  .spacer {
    flex: 1;
  }

  .font-bold {
    font-weight: 900;
  }
}
