<div class="wrap__tikcet">
    <div class="price">
        <h3 class="price-title">{{flightInfo.price}}$</h3>
    </div>
    <div class="info__flight">
        <div class="info__flight-header">
            <img class="info__flight-header-img" 
                src="https://images.kiwi.com/airlines/64/{{flightInfo.airline}}.png"
                alt="{{flightInfo.airline}}"
            >
            <p class="info__flight-header-duration">
                Flight duration: {{myTime(flightInfo.duration)}}
            </p>
        </div>
        <div class="info__flight-body">
            <div class="info__date">
                <h3 class="info__date-city">
                    {{formData.destinationFrom.name}} - {{formData.destinationTo.name}}
                </h3>
                <h3 class="info__date-info">
                    <span class="info__date-info-span">time:</span>
                    <!-- {{flightInfo.departure_at | date: 'shortTime'}} -->
                    {{flightInfo.departure_at}}
                </h3>
                <h3 class="info__date-info">
                    <span class="info__date-info-span">data:</span>
                    <!-- {{flightInfo.departure_at | date}} -->
                    {{flightInfo.departure_at}}
                </h3>
            </div>
            <hr class="hr">
            <div class="info__date">
                <h3 class="info__date-city">
                    {{formData.destinationTo.name}} - {{formData.destinationFrom.name}}
                </h3>
                <h3 class="info__date-info"><span class="info__date-info-span">
                    <!-- time:</span> {{flightInfo.return_at| date: 'shortTime'}} -->
                    time:</span> {{flightInfo.return_at}}
                </h3>
                <h3 class="info__date-info">
                    <span class="info__date-info-span">data:</span>
                    <!-- {{flightInfo.return_at | date}} -->
                    {{flightInfo.return_at}}
                </h3>
            </div>
        </div>
    </div>
</div>


