<div class="filter">
  <h3>Filter</h3>
  <form [formGroup]="filterGroup">
    <ng-container *ngFor="let filterElement of filterElements">
      <mat-form-field appearance="fill" *ngIf="(filterConfig$ | async)[filterElement.formControlName]">
        <mat-label>{{filterElement.label}}</mat-label>
        <mat-select [formControlName]="filterElement.formControlName" (selectionChange)="onFilterChange()">
          <mat-option *ngFor="let option of filterElement.options" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <div>
      <b>Price range</b>
      <mtx-slider formControlName="priceRange" thumbLabel="true" [min]="minPrice" [max]="maxPrice"
        (valueChange)="onFilterChange()"></mtx-slider>
    </div>
  </form>
</div>