<div class="filter">
  <h3>Filter</h3>
  <form [formGroup]="filterGroup">
    <ng-container *ngFor="let filterElement of filterElements">
      <mat-form-field appearance="fill" *ngIf="(filterConfig$ | async)[filterElement.formControlName]">
        <mat-label>{{filterElement.label}}</mat-label>
        <mat-select [formControlName]="filterElement.formControlName" (selectionChange)="onFilterChange()">
          <mat-option *ngFor="let option of filterElement.options" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <div>
      Min price
      <mat-slider formControlName="minPrice" thumbLabel="true" min="1" max="150" (valueChange)="onFilterChange()">
      </mat-slider>
    </div>
    <div>
      Max price
      <mat-slider formControlName="maxPrice" thumbLabel="true" min="1" max="150" (valueChange)="onFilterChange()">
      </mat-slider>
    </div>
  </form>
</div>