<div class="wrapper">
  <app-toolbar></app-toolbar>

  <div class="content">
    <div class="form">
      <app-flight-data-form></app-flight-data-form>
    </div>
  </div>

  <app-nav></app-nav>
</div>

<mat-progress-bar mode="indeterminate" [style.visibility]="loading ? 'visible' : 'hidden'">
</mat-progress-bar>

<div class="search-content">
  <div class="sidebarWrapper">
    <app-non-stop-tickets></app-non-stop-tickets>
  <button class="filter-btn" (click)="toggling($event)">Filter</button>
  <div class="filterWrapper" [ngClass]="{'background-color': toggle}" (click)="toggling($event)">
    <div class="test-bg"></div>
    <div class="filterInner" [ngClass]="{'close': !toggle}">
      <button class="close-btn" (click)="toggling($event)">X</button>
      <app-flight-filter></app-flight-filter>
      <!-- <app-flight-sort></app-flight-sort> -->
      <div class="calendarWrapper">
        <app-calendar-of-prices></app-calendar-of-prices>
      </div>
    </div>
  </div>
</div>
  <div class="ticketsWrapper">
    <router-outlet></router-outlet>
  </div>
</div>