<div class="wrapper">
  <app-toolbar></app-toolbar>

  <div class="content">
    <div class="form">
      <app-flight-data-form></app-flight-data-form>
    </div>
  </div>

  <app-nav></app-nav>
  <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
</div>

<div class="search-content">
  <div class="filterWrapper">
    <app-flight-filter></app-flight-filter>
    <div class="calenderWrapper">
      <app-calendar-of-prices></app-calendar-of-prices>
    </div>
  </div>
  <div class="ticketsWrapper">
    <router-outlet></router-outlet>
  </div>
</div>
