<div class="wrapper">
  <app-toolbar></app-toolbar>

  <div class="content" style="margin-bottom: 128px;">
    <h1 class="mat-display-1">Your best tickets</h1>
    <h3>Buy tickets with best price</h3>

    <div class="form">
      <app-flight-data-form></app-flight-data-form>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="content">
    <div class="dropdown">
      <app-city-destination></app-city-destination>
    </div>
  </div>
</div>

<div class="map-wrapper">
  <div class="map-content">
    <app-animated-maps></app-animated-maps>
  </div>
</div>

<div class="map-wrapper">
  <div class="map-content">
    <app-maps></app-maps>
  </div>
</div>

<div class="footer-wrapper">
  <div class="footer-content">
    <footer>
      IF-137.UI © 2022
    </footer>
  </div>
</div>