.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url("~/src/assets/background.svg") 10% 10% no-repeat,
    url("~/src/assets/background.svg") 90% 90% no-repeat;
  background-color: #673ab7;

  h1,
  h3 {
    color: #fff;
  }

  h1 {
    margin-bottom: 8px;
    font-weight: bold;
  }

  h3 {
    font-weight: 100;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
  }

  .form {
    padding: 1.34375em 10px 0 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 16px;
  }

  footer {
    display: flex;
    justify-content: center;
    color: #000;
    padding: 8px;
  }
}
