<div class="wrapper">
  <mat-toolbar color="primary" style="padding: 0 22vw">
    <a routerLink="/">
      <img src="/assets/logo.svg" alt="Logo" />
    </a>
    <span style="font-weight: 900;">Tickets</span>
    <span style="flex: 1"></span>
    <button mat-icon-button>
      <mat-icon>language</mat-icon>
    </button>
  </mat-toolbar>

  <div class="content" style="margin-bottom: 128px;">
    <h1 class="mat-display-1">Your best tickets</h1>
    <h3>Buy tickets with best price</h3>

    <div class="form">
      <app-flight-data-form></app-flight-data-form>
    </div>
  </div>

  <footer>
    IF-137.UI © 2022
  </footer>
</div>