<div class="wrapper">
  <app-toolbar></app-toolbar>

  <div class="content" style="margin-bottom: 128px;">
    <h1 class="mat-display-1">Your Best Tickets</h1>
    <h3>Buy tickets with best price</h3>

    <div class="form">
      <app-flight-data-form></app-flight-data-form>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="content">
    <h1 class="mat-display-1">Popular Destinations</h1>
    <h3>Tickets that people buy most</h3>

    <app-city-destination *ngIf="!isMobile" ></app-city-destination>
    <app-mobile-city-destination *ngIf="isMobile" ></app-mobile-city-destination>
    <app-routes-map></app-routes-map>
  </div>
</div>

<div class="wrapper">
  <div class="content">
    <h1 class="mat-display-1">Covid-19 Map</h1>
    <h3>Covid-19 situation in the World</h3>

    <app-covid-map></app-covid-map>
  </div>
  <footer>
    IF-137.UI © 2022
  </footer>
</div>
