.main{
  position: fixed;
  bottom: 70px;
  width: 100%;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}

.city-destination {
  margin: 20px;
  display: flex;
  justify-content: center;
}


