<div class="main">
<div class="container">
<div class="city-destination">
  <div *ngFor="let cityKey of keys">
    <form>
      <mat-card>
        <p> From Kyiv </p>
        <mat-form-field appearance="fill">
          <mat-label>To:</mat-label>
          <mat-select>
            <div >
              <mat-option *ngFor="let city of response" >

              </mat-option>
            </div>
          </mat-select>
        </mat-form-field>
        <p> Currency : </p>
      </mat-card>
    </form>
  </div>
</div>

