<div class="main">
  <h1>Popular Destination</h1>
  <div class="container">
    <div class="city-destination">
      <div *ngFor="let cities of response | keyvalue">
        <form>
          <mat-form-field appearance="fill">
            <mat-label>To: {{getCityNameByKey(cities.key)}}</mat-label>
            <mat-select>
              <div>
                <mat-option *ngFor="let items of cities.value">
                  <div>
                   <span>
                     <span class="destination">{{getCityNameByKey(items.origin)}}</span>
                     <mat-icon>trending_flat</mat-icon>
                     <span>{{getCityNameByKey(items.destination)}}</span>
                     <span class="price">starting at {{items.price}}
                     <mat-icon>dollar</mat-icon>
                     </span>
                   </span>
                  </div>
                </mat-option>
              </div>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
</div>


<!--<div >-->
<!--  <div class="calendar-modal-content-info-main-bottom">-->
<!--                      <span class="bolded-text">-->
<!--                        <mat-icon>flight_takeoff-->
<!--                        </mat-icon>{{ items.destination }}</span>-->

<!--    <span class="bolded-text">{{ items.destination }}-->
<!--      <mat-icon>flight_land</mat-icon></span>-->
<!--  </div>-->
<!--</div>-->
