.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}

.city-destination {
  margin: 20px;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;

  &-label {
    vertical-align: middle;
    color: mediumpurple;
   font-size: 20px;
  }
}

.option {
  color: mediumpurple;
}

.price {
  font-size: 11px;
  float: right;
  margin-right: 15px;
}

.destination {
  margin-right: 5px;
}

.cities_info {
  background-color: white;
}

.form{
  width: 250px;
  height: 40px;
}


h1 {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
  color: white;
}

span {
  color: rgb(159, 106, 175);
}

img {
  height: 20px;
  border-radius: 50%;
}

form {
 flex: 1 0 21%;
  margin: 5px;
  height: 100px;
  border-radius: 15px;
  background-image: url(https://images.kiwi.com/photos/220x165/non-existing.jpg);
}


