.main{
  position: fixed;
  bottom: 70px;
  width: 100%;

}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}

.city-destination {
  margin: 20px;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

form{
  flex: 1 0 21%;
  margin: 5px;
  height: 100px;
  border-radius: 15px;
  background-image: url(https://images.kiwi.com/photos/220x165/non-existing.jpg);
}
h1{
  text-align: center;
}
.option{
  color:mediumpurple ;
}
.price{
  margin:10px;
}
.destination{
  margin-right: 5px;
}

