<div
  class="calendar-loading"
  *ngIf="calendarData.length === 0 && formData.origin && formData.destination"
>
  <ngx-skeleton-loader
    [ngStyle]="{
      dispay: 'block'
    }"
    count="1"
    appearance="circle"
    [theme]="{
      'border-radius': '5px',
      width: '100px',
      height: '100px',
      border: '1px solid white'
    }"
    *ngFor="let n of loadingCardCount"
  ></ngx-skeleton-loader>
</div>
<div class="error" *ngIf="!formData.origin || !formData.destination">
  <p>Please choose origin and destination</p>
</div>
<form [formGroup]="filterForm">
  <h4>Basic mat-select</h4>
  <mat-form-field appearance="fill">
    <mat-label>Favorite food</mat-label>
    <mat-select formControlName="class" (selectionChange)="onFormValueChange()">
      <mat-option *ngFor="let class of classOptions" [value]="class.value">
        {{ class.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-slider
    (valueChange)="onFormValueChange()"
    [step]="1"
    [thumbLabel]="true"
    formControlName="minValue"
    aria-labelledby="example-name-label"
  >
  </mat-slider>
  <mat-slider
    (valueChange)="onFormValueChange()"
    invert="true"
    [step]="1"
    min="100"
    max="1"
    [thumbLabel]="true"
    formControlName="maxValue"
    aria-labelledby="example-name-label"
  >
  </mat-slider>
</form>
<div class="calendar">
  <app-calendar-of-prices-item
    *ngFor="let data of calendarData"
    [data]="data"
    [currency]="currency"
    [destination]="formData.destination"
    [origin]="formData.origin"
  >
  </app-calendar-of-prices-item>
</div>
