<div
  class="calendar-loading"
  *ngIf="
    calendarData &&
    calendarData.loading &&
    formData.destination &&
    formData.destination
  "
>
  <ngx-skeleton-loader
    [ngStyle]="{
      dispay: 'block'
    }"
    count="1"
    appearance="circle"
    [theme]="{
      'border-radius': '5px',
      width: '100px',
      height: '100px',
      border: '1px solid white'
    }"
    *ngFor="let n of loadingCardCount"
  ></ngx-skeleton-loader>
</div>

<div class="error" *ngIf="!formData.origin || !formData.destination">
  <p>Please choose origin and destination</p>
</div>
<div
  class="error"
  *ngIf="calendarData.data.length === 0 && !calendarData.loading"
>
  <p>Sorry, there are no tickets now</p>
  <p>Please, please choose another destinations or dates</p>
</div>
<div
  class="calendar"
  *ngIf="calendarData.data.length > 0 && !calendarData.loading"
>
  <app-calendar-of-prices-item
    *ngFor="let data of calendarData.data"
    [data]="data"
    [currency]="calendarData.currency"
    [destination]="formData.destination"
    [origin]="formData.origin"
  >
  </app-calendar-of-prices-item>
</div>
