<div
  class="calendar-loading"
  *ngIf="calendarData.length === 0 && formData.origin && formData.destination"
>
  <ngx-skeleton-loader
    [ngStyle]="{
      dispay: 'block'
    }"
    count="1"
    appearance="circle"
    [theme]="{
      'border-radius': '5px',
      width: '100px',
      height: '100px',
      border: '1px solid white'
    }"
    *ngFor="let n of loadingCardCount"
  ></ngx-skeleton-loader>
</div>
<div class="error" *ngIf="!formData.origin || !formData.destination">
  <p>Please choose origin and destination</p>
</div>
<div class="calendar">
  <app-calendar-of-prices-item
    *ngFor="let data of calendarData"
    [data]="data"
    [currency]="currency"
    [destination]="formData.destination"
    [origin]="formData.origin"
  >
  </app-calendar-of-prices-item>
</div>
