/* You can add global styles to this file, and also import other style files */
@import "../src/app/components/calendar-of-prices/calendar-of-prices.component.scss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-container {
  padding: 0 !important;
  border-radius: 15px !important;
}
