.calendar {
  position: relative;
}

.calendar,
.calendar-loading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 15px 10px;
}

.error {
  margin-top: 45px;
  text-align: center;

  p {
    color: #fb3640;
    font-size: 25px;
    line-height: 35px;
  }
}
