<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
  >
  </mwl-calendar-month-view>
</div>
<div class="calendar-buttons">
  <button
    mat-flat-button
    mwlCalendarPreviousView
    [view]="view"
    [(viewDate)]="viewDate"
    (viewDateChange)="closeOpenMonthViewDay()"
  >
    Previous
  </button>
  <button mat-flat-button mwlCalendarToday [(viewDate)]="viewDate">
    Today
  </button>
  <button
    mwlCalendarNextView
    mat-flat-button
    [view]="view"
    [(viewDate)]="viewDate"
    (viewDateChange)="closeOpenMonthViewDay()"
  >
    Next
  </button>
</div>
<p class="current-date">
  {{ viewDate | calendarDate: view + "ViewTitle":"en" }}
</p>

<ng-template let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event.title }}</pre>
    </div>
  </div>
</ng-template>
