<!-- <app-loading-bar
  *ngIf="loading && formData.origin && formData.destination"
></app-loading-bar>
<div class="error" *ngIf="!formData.origin || !formData.destination">
  <p>Please choose origin and destination</p>
</div>

<div class="calendar-content">
  <div class="error" *ngIf="
      calendarData.length === 0 &&
      formData.origin &&
      formData.destination
    ">
    <p>No tickets</p>
  </div>
  <div class="calendar" *ngIf="calendarData.length > 0 && formData.origin && formData.destination">
    <app-calendar-of-prices-item *ngFor="let data of calendarData" [data]="data" [currency]="currency"
      [destination]="formData.destination" [origin]="formData.origin">
    </app-calendar-of-prices-item>
  </div>
</div> -->

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
</div>
<div class="calendar-buttons">
  <button
    mat-flat-button
    mwlCalendarPreviousView
    [view]="view"
    [(viewDate)]="viewDate"
    (viewDateChange)="closeOpenMonthViewDay()"
  >
    Previous
  </button>
  <button mat-flat-button mwlCalendarToday [(viewDate)]="viewDate">
    Today
  </button>
  <button
    mwlCalendarNextView
    mat-flat-button
    [view]="view"
    [(viewDate)]="viewDate"
    (viewDateChange)="closeOpenMonthViewDay()"
  >
    Next
  </button>
</div>
<p class="current-date">
  {{ viewDate | calendarDate: view + "ViewTitle":"en" }}
</p>
