<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent($event.event)"
  >
  </mwl-calendar-month-view>
</div>
<div class="calendar-buttons">
  <button
    mat-flat-button
    mwlCalendarPreviousView
    [view]="view"
    [(viewDate)]="viewDate"
    (viewDateChange)="closeOpenMonthViewDay()"
  >
    Previous
  </button>
  <button mat-flat-button mwlCalendarToday [(viewDate)]="viewDate">
    Today
  </button>
  <button
    mwlCalendarNextView
    mat-flat-button
    [view]="view"
    [(viewDate)]="viewDate"
    (viewDateChange)="closeOpenMonthViewDay()"
  >
    Next
  </button>
</div>
<p class="current-date">
  {{ viewDate | date: "fullDate" }}
</p>
