<div class="main">
  <h1>
    <img src="https://pngimg.com/uploads/plane/plane_PNG101262.png" alt="logo-plane">
    Popular Destination</h1>
  <div class="container">
    <div class="city-destination">
      <div *ngFor="let cities of response | keyvalue">
        <form>
          <mat-form-field appearance="fill">
            <mat-label class="city-destination-label">{{getCityNameByKey(cities.key)}}</mat-label>
            <mat-select>
              <div class="cities_info">
                <mat-option *ngFor="let items of cities.value">
                  <div>
                   <span>
                     <span class="destination">{{getCityNameByKey(items.origin)}}</span>
                     <mat-icon>trending_flat</mat-icon>
                     <span>{{getCityNameByKey(items.destination)}}</span>
                     <span class="price"> starting at
                       <b>{{items.price}}$</b>
                     </span>
                   </span>
                  </div>
                </mat-option>
              </div>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
</div>
